body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 250px;
  max-height: 150px;
  object-fit: contain;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-container {
  margin-bottom: 10px;
}

label {
  margin-left: 10px;
}

button {
  margin: 10px;
  background-color: dodgerblue;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.lang-selector{
  float: right;
}

.lang {
  margin-right: 10px;
  font-size: 1.2em;
}

.lang.active-lang {
  pointer-events: none;
  cursor: default;
  color: lightgrey;
}

.login-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
}

.login {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  height: 200px;
  width: 200px;
  background: #fff;
  border-radius: 10px;
}

.login > form{
  padding: 10px;
}

.login > form > label {
  margin-left: 0;
}

.login > form > input {
  margin: 5px 0;
}

.message {
  padding: 0 10px;
  margin-top: -10px;
  color: red;
}